.row{
margin-left:5px;
color: #fff;

}

.posters{
    display: flex;
    padding:10px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.posters::-webkit-scrollbar{
    display: none;
}
.posterimg{
    max-height: 250px;
    margin-right: 10px;
    cursor: pointer;
    transition: all ease-out 0.6s;
}

.smallposter{
    cursor: pointer;
    max-height: 160px;
    margin-right:20px;
    transition: all ease-out 0.6s;

}

.posterimg:hover{
    transform: scale(1.2);
    
}

.smallposter:hover{
    transform:scale(1.2)
}