.row{
margin-left:5px;
color: #fff;

}

.posters{
    display: flex;
    padding:10px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.posters::-webkit-scrollbar{
    display: none;
}
.posterimg{
    max-height: 250px;
    margin-right: 10px;
}