

.search-results{
  
   position:relative;
   top:100px;
  
    margin: 0px;
    margin-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    height: 550px;
    overflow-y: hidden;
}

.form{
    position: fixed;
    right: 50px;
    
   
}
@media (max-width:760px ) and  (min-width:370px){
  input{
    /* display: flex;
    justify-content: flex-end; */
    position: fixed;
    top:15px;
    right:-80px;
    height:20px;
    width:150px;
    
  }
  .searchbutton{
    display:none;
  }
}

input{
    height: 43px;
    color: black;
    
    font-weight: bold;
    font-size: 14px;
    /* outline: 1px solid red; */
    box-shadow: 5px 3px rgb(255, 123, 0);
    /* position: fixed;
    top: 20px;
    right: 171px; */
    display: block;
    margin-right: 1rem;
    overflow-x: hidden;
    border-radius: 8px;
   

}

/* .searchbutton{
    margin-left: 20px;
    height: 30px;
    width: 60px;
    box-shadow: 6px 3px 5px 3px lightblue;
    font-weight: bold;
    font-size: 14px;
    color: rgb(77, 76, 76);

} */

.searchbutton {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    position: fixed;
    top: 44px;
    right: -64px;
    transform: translate(-50%,-50%);
    padding: 15px 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background: black;
    border: none;
    letter-spacing: 2px;
    font-size: 15px;
  }
  
  .searchbutton:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #03a;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: bottom right;
    transform: scale(0);
  }
  
  .searchbutton:hover:before {
    transition: transform 0.5s;
    transform-origin: top left;
    transform: scale(1);
  }
  
  .searchbutton:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #fff;
    box-sizing: border-box;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: bottom right;
    transform: scale(1);
  }
  
  .searchbutton:hover:after {
    transition: transform 0.5s;
    transform-origin: top left;
    transform: scale(0);
  }

/* .firstclose{
 position: fixed;
 left:50%;
 top:20px;
} */

.firstclose {
    position: relative;
    width: 11em;
    height: 4em;
    position: fixed;
    top:15px;
    left:43%;
    outline: none;
    transition: 0.1s;
    background-color: transparent;
    border: none;
    font-size: 11px;
    margin-left: 41px;
    font-weight: bold;
    color: #ddebf0;
    
  }
  
  @media (max-width:768px) and (min-width:370px){
    .firstclose{
      margin-left: -29px;
    margin-top: 53px;
    font-size: 10px;
    }
  }


  #clip {
    --color: #rgb(243 134 14);
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 5px double var(--color);
    box-shadow: inset 0px 0px 15px rgb(243 134 14);;
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  }
  
  .arrow {
    position: absolute;
    transition: 0.2s;
    background-color: rgb(243 134 14);;
    top: 35%;
    width: 11%;
    height: 30%;
  }
  
  #leftArrow {
    left: -13.5%;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
  }
  
  #rightArrow {
    -webkit-clip-path: polygon(100% 49%, 0 0, 0 100%);
    left: 102%;
  }
  
  .firstclose:hover #rightArrow {
    background-color: rgb(28 187 181);
    left: -15%;
    animation: 0.6s ease-in-out both infinite alternate rightArrow8;
  }
  
  .firstclose:hover #leftArrow {
    background-color: rgb(28 187 181);
    left: 103%;
    animation: 0.6s ease-in-out both infinite alternate leftArrow8;
  }
  
  .corner {
    position: absolute;
    width: 4em;
    height: 4em;
    background-color: rgb(250,103,7);;
    box-shadow: inset 1px 1px 8px rgb(250,103,7);;
    transform: scale(1) rotate(45deg);
    transition: 0.2s;
  }
  
  #rightTop {
    top: -1.98em;
    left: 91%;
  }
  
  #leftTop {
    top: -1.96em;
    left: -3.0em;
  }
  
  #leftBottom {
    top: 2.10em;
    left: -2.15em;
  }
  
  #rightBottom {
    top: 45%;
    left: 88%;
  }
  
  .firstclose:hover #leftTop {
    animation: 0.1s ease-in-out 0.05s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
  }
  
  .firstclose:hover #rightTop {
    animation: 0.1s ease-in-out 0.15s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
  }
  
  .firstclose:hover #rightBottom {
    animation: 0.1s ease-in-out 0.25s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
  }
  
  .firstclose:hover #leftBottom {
    animation: 0.1s ease-in-out 0.35s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
  }
  
  .firstclose:hover .corner {
    transform: scale(1.25) rotate(45deg);
  }
  
  .firstclose:hover #clip {
    animation: 0.2s ease-in-out 0.55s both greenLight8;
    --color: rgb(28 187 181);
  }
  
  @keyframes changeColor8 {
    from {
      background-color: rgb(28 187 181);
    }
  
    to {
      background-color: rgb(28 187 181);
    }
  }
  
  @keyframes lightEffect8 {
    from {
      box-shadow: 1px 1px 5px #27c39f;
    }
  
    to {
      box-shadow: 0 0 2px #27c39f;
    }
  }
  
  @keyframes greenLight8 {
    from {
    }
  
    to {
      box-shadow: inset 0px 0px 32px #27c39f;
    }
  }
  
  @keyframes leftArrow8 {
    from {
      transform: translate(0px);
    }
  
    to {
      transform: translateX(10px);
    }
  }
  
  @keyframes rightArrow8 {
    from {
      transform: translate(0px);
    }
  
    to {
      transform: translateX(-10px);
    }
  }
  
  
  .searchButton-2 {
    position: relative;
    border: none;
    top:-45px;
    right:-202px;
    background-color: white;
    color: #212121;
    padding: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    gap: 10px;
    border-radius: 10px;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    overflow: hidden;
  }
  
  .searchButton-2 span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .searchButton-2::before {
    content: "";
    position: absolute;
    background-color:rgb(250,103,7);
    width: 100%;
    height: 100%;
    left: 0%;
    bottom: 0%;
    transform: translate(-100%, 100%);
    border-radius: inherit;
  }
  
  .searchButton-2 svg {
    fill:rgb(250,103,7);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .searchButton-2:hover::before {
    animation: shakeBack 0.6s forwards;
  }
  
  .searchButton-2:hover svg {
    fill: white;
    scale: 1.3;
  }
  
  .searchButton-2:active {
    box-shadow: none;
  }
  
  @keyframes shakeBack {
    0% {
      transform: translate(-100%, 100%);
    }
  
    50% {
      transform: translate(20%, -20%);
    }
  
    100% {
      transform: translate(0%, 0%);
    }
  }
  